@use '../../variables' as v;

.main-workouts-container {
    width: 100%;
    margin-left: 4rem;
    background-color: v.$primary-color;
    padding: 0rem;
    display: grid;
    grid-template-columns: 3fr 1fr; 
    color: v.$tertiary-color;
    font-weight: bold;

    .main-content {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        padding: 2rem;

        .progress-graph {
            background-color: v.$secondary-color;
            border-radius: 1rem;
            padding: 2.5rem;
            grid-column: 1 /span 3;
        }

        .new-workout-card {
            background-color: v.$secondary-color;
            border-radius: 1rem;
            padding: 2.5rem;
            grid-column: 3;
            grid-row: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .workout-form {
                width: 100%;
                height: 3rem;
            }
            #begin-btn {
                width: 100%;
                height: 3rem;
                margin-top: .5rem;
    
                background-color: v.$tertiary-color;
                border: none;
                &:hover {
                    cursor: pointer;
                    filter: brightness(.9);
                }
            }
        }
        .goal-track {
            background-color: v.$secondary-color;
            border-radius: 1rem;
            padding: 2.5rem;
            grid-column: 1;
            grid-row: 2;
        }
        .streak-track {
            background-color: v.$secondary-color;
            border-radius: 1rem;
            padding: 2.5rem;
            grid-column: 2;
            grid-row: 2;
        }
    }
    

    .side-panel {
        background-color: v.$primary-color;
        padding: 2rem 1rem 2rem 1rem;
        display: grid;
        grid-template-rows: 1fr 1fr;
        overflow: auto;

        .routines {
            overflow: hidden;

            &:hover {
                overflow-y: auto;
            }
            .title {
                background-color: v.$primary-color;
                width: 100%;
                height: 4rem;
                position: sticky;
                top: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                svg {
                    width: 2rem;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-right: .5rem;
                    &:hover {
                        cursor: pointer;
                    }
                }

            }

            .routines-list-container {
                overflow-y: auto;
            }
        }

        .past-workouts {
            overflow: hidden;
            padding-bottom: 2rem;
            position: sticky;
            &:hover {
                overflow-y: auto;
            }
            .title {
                vertical-align: center;
                background-color: v.$primary-color;
                width: 100%;
                height: 4rem;
                position: sticky;
                top: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

            }
        }
    }
}