@use '../../variables' as v;

.main-container {
    width: 100%;
    padding: 1rem;
    padding-top: .25rem;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 5%;

        .button-group {
    
            button {
                margin-left: 1rem;
                font-size: 110%;
            }
    
            #login-btn {
                background-color: v.$primary-color;
                border: none;
                color: v.$header-color;
                &:hover {
                    cursor: pointer;
                    color: v.$tertiary-color;
                }
            }
    
            #register-btn {
                background-color: v.$button-color;
                border: transparent;
                color: v.$header-color;
                border-radius: 5%;
                height: 2rem;
                &:hover {
                    cursor: pointer;
                    filter: brightness(.9);
                }
            }
    
        }

        .welcome-msg {
            font-size: 150%;
            padding-right: 1.5rem;
            padding-top: 0.5rem;
        }
    }
    
    
    h1 {
        margin: 0;
        color: v.$header-color;
    }
}

.body-landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95%;
    color: v.$tertiary-color;
    font-size: 110%;
    font-weight: 650;
    .info {
        padding: 2rem;
        max-width: 500px;
        h2 {
            margin-top: 40%;
            font-size: 3rem;
        }
        h4 {
            color: v.$button-color;
        }
        button {
            background-color: v.$primary-color;
            border: .5rem solid;
            border-image-slice: 1;
            border-image-source: v.$gradient-blue-purple;
            color: v.$header-color;
            border-radius: 5%;
            height: 2rem;
            &:hover {
                cursor: pointer;
                filter: brightness(.9);
            }
        }
    }

}

