@use '../../variables' as v;

.main-container {
    background-color: v.$primary-color;
    padding: 1rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        #user-welcome {
            font-weight: 750;
        }
    }

    h1 {
        margin: 0;
        color: v.$header-color;
    }
}

.main-body {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .graph {
        width: 99%;
        height: 80vh;
        background-color: v.$secondary-color;
    }
    
    .graph-controls {
        height: 10vh;
        width: 99%;
        background-color: v.$secondary-color;
    }
}

