$primary-color: #1b1b2a;
$secondary-color: #26273B;
$tertiary-color: #FFFFFF;
$header-color: #FFFFFF;
$button-color: #323cff;
$gradient-blue-purple: linear-gradient(38deg, rgba(184,103,255,1) 0%, rgba(50,60,255,1) 100%);